.mag{
  margin-top: 600px;
}
/* @media(max-width:1400px){
  .outer{
    display: none;
  }
  .media{
    display: "";
  }
}
.text-outer{
  width: 100%;
  height: 200px;
  background-color: rgba(250, 103, 103, 0.2);;
}
.text-outer{
  padding-top: 150px;
  flex-direction: column;
  display: flex;
  text-align: center;
}

h1{
  font-size: 30px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-weight: 800;
}
h2{
  font-size: 15px;
  font-weight: 400;
}
.contents-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
}
body{
  overflow: hidden;
  width: 100%;
  font-family: 'Raleway', sans-serif;

}
.button-container{
  padding-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button{
  margin-bottom: 10px;
  width: 300px;
  height: 50px;
  border-radius: 40px;
  font-size: 15px;
}
#start-btn{
  border: none;
  background-color: rgba(250, 103, 103, 0.9);
  color: white;
}
#who-btn{
  border: 1px solid black;
  color: black;
  background-color: white;
}
.img-container{
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
#img1{
  width: 50px;
  height: auto;
}
#img2{
  width: 250px;
  height: auto ;
}
a{
  text-align: center;
  text-decoration: none;
}
.btn-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.media{
  display: none;
} */
.outer{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image-outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* div{
    text-align:center;
} */

.image{
  max-width: 100%;
  width: 1440px;
}



@keyframes opacappear {
    50% { transform: translate(0px, 10px); 
        opacity:0;}

    100% {transform: translate(0px, 0px); 
        opacity:1;}
}

#Main {
    animation:opacappear 2s 1;
    animation-fill-mode: forwards;
    }

.appear{
  animation:opacappear 3s 1;
  animation-fill-mode: forwards;
}

.ivisiable{
        opacity:0;
    }

#zigzagline{
    stroke:#000000; 
    stroke-dasharray: 5000;
    stroke-dashoffset: 1000;
  animation: dash 5s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#Ellipse2{
    animation: flyright 3s 1;
}

#Group4{
  animation: flyleft1 2.8s 1;
}

#Ellipse3{
  animation: flyleft2 2.5s 1;
}
@keyframes flyright{
    0%{
        opacity:0;
    }
  50%  {opacity:0;
    transform: scale(1.2);}
    100%{
        opacity:1;
    }
}

@keyframes flyleft1{
  0%{
      opacity:0;
  }
50%  {
  transform: scale(-0.2);}
  70%{
    opacity:0;
  }
  100%{
      opacity:1;
  }
}

@keyframes flyleft2{
  0%{
      opacity:0;
  }
  50%{
    opacity:0;
}
  100%{
      opacity:1;
  }
}

#startbutton{
  fill:#FFFFFF;
}

/* #startbutton:hover{
  transform: translate(0px, -10px); 
} */
