@media(max-width:1400px){
  .section-container-inner{
    flex-direction: column;
  }
  .left-bar{
    width: 800px;
  }
  .right-bar{
    width: 800px;
  } 
  .index-container{
    margin-bottom: 40px;
  }
  .body{
    white-space:normal;
  }
  .inner-container{
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  .cut{
    display: none;
  }
  p{
    font-size: 15px;
  }
}