.mag{
  margin-top: 600px;
}


div{
    text-align:center;
}

.image{
  max-width: 100%;
  width: 1440px;
}



@keyframes opacappear {
    50% { transform: translate(0px, 10px); 
        opacity:0;}

    100% {transform: translate(0px, 0px); 
        opacity:1;}
}

#Main {
    animation:opacappear 2s 1;
    animation-fill-mode: forwards;
    }

.appear{
  animation:opacappear 3s 1;
  animation-fill-mode: forwards;
}

.ivisiable{
        opacity:0;
    }

#zigzagline{
    stroke:#000000; 
    stroke-dasharray: 5000;
    stroke-dashoffset: 1000;
  animation: dash 5s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#Ellipse2{
    animation: flyright 3s 1;
}

#Group4{
  animation: flyleft1 2.8s 1;
}

#Ellipse3{
  animation: flyleft2 2.5s 1;
}
@keyframes flyright{
    0%{
        opacity:0;
    }
  50%  {opacity:0;
    transform: scale(1.2);}
    100%{
        opacity:1;
    }
}

@keyframes flyleft1{
  0%{
      opacity:0;
  }
50%  {
  transform: scale(-0.2);}
  70%{
    opacity:0;
  }
  100%{
      opacity:1;
  }
}

@keyframes flyleft2{
  0%{
      opacity:0;
  }
  50%{
    opacity:0;
}
  100%{
      opacity:1;
  }
}

#startbutton{
  fill:#FFFFFF;
}

#startbutton:hover{
  transform: translate(0px, -10px); 
}
